form
  max-width: 500px

.property-card
  margin: 10px 8px
  padding: 5px 20px

.label-container
  display: flex
  justify-content: space-between

mat-slider
  width: 100%
  margin: 0

.value-label 
  font-weight: 600

.label-middle
  align-items: center