@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"

form
  max-width: 500px

.property-card
  margin: 10px 8px
  padding: 5px 20px

.label-container
  display: flex
  justify-content: space-between
  gap: 10px

.name-label
  text-overflow: ellipsis
  overflow: hidden

.label-middle
  align-items: center

::ng-deep mat-form-field
  margin-bottom: -1.25em

mat-card
  overflow: hidden

.right-aligned-header > .mat-content 
  justify-content: space-between


.mat-content > ::ng-deep mat-panel-title, .mat-content > ::ng-deep mat-panel-description 
  flex: 0 0 auto