<!-- <form action="">
  <input matInput [ngxMatColorPicker]="picker">
  <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
  <ngx-mat-color-picker #picker></ngx-mat-color-picker>
  
  <br>
  
  <mat-label>Slider</mat-label>
  <mat-slider min="0" max="100" step="1">
    <input matSliderThumb>
  </mat-slider>
  
  <br>

  <mat-checkbox color="primary">
    Checkbox
  </mat-checkbox>

  <br>

  <mat-label>Dropdown</mat-label>
  <mat-select>
    <mat-option>
      Option
    </mat-option>
  </mat-select>
</form> -->

<form [formGroup]="propertiesForm">
  <ng-container *ngFor="let property of properties | keyvalue">
    <div *ngIf="property.value.type === 'slider'">
      <mat-slider
      [formControlName]="property.key"
      [min]="property.value.min"
      [max]="property.value.max"
      [step]="property.value.step">
    </mat-slider>
    </div>
  </ng-container>
</form>