@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"

$toolbar-height: 84px

h1 
  margin: 20px 5px 0
  text-align: center

.form
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: calc(100% - $toolbar-height)

form
  max-width: 500px
  width: 100%

.property-card
  margin: 10px 8px
  padding: 5px 20px

.label-container
  display: flex
  justify-content: space-between
  gap: 10px

.name-label
  text-overflow: ellipsis
  overflow: hidden

.label-middle
  align-items: center

::ng-deep mat-form-field
  margin-bottom: -1.25em

mat-card
  overflow: hidden