@import "../../app.component"

.file-area
  display: flex
  gap: 5px
  flex-direction: column
  max-width: 50%

  button
    align-self: flex-end
  
  span
    font-size: 12px
    margin-bottom: -10px
    color: #919191
    overflow: hidden
    text-overflow: ellipsis
    direction: rtl
    white-space: nowrap