$gray: #757575

.center
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100vh

mat-card
  min-width: 0
  width: 500px
  margin: 20px
  padding: 20px
  border-radius: 10px

.dashed-box
  border: 2px dashed $gray
  padding: 40px
  border-radius: 10px
  display: flex
  flex-direction: column
  align-items: center
  gap: 20px
  background-color: #0000000c

svg 
  color: $gray

span
  font-size: 18px
  text-align: center